* {
    font-family: "Kanit", sans-serif;
}


main {

    background-color: #f3f4f6;
    height: 100vh;
}
h4, label, p{
    color: white;

}
.card {
    background-color: #2b3d4f;
    border: 0;
    box-shadow: 0 0 15px -3px black;
    width: 600px;
}

.arribaDerecha{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}