* {
    font-family: "Kanit", sans-serif;
}


main {

    background-color: #f3f4f6;
    height: 100vh;
}
h4, label, p{
    color: white;

}

.btn{
    background-color: #69779283;
    color: white;
}

.divOrganiza img{
    width: 50px;
}
.card {
    background-color: #1d272b;
    border: 0;
    box-shadow: 0 0 15px -3px black;
    width: 600px;
}

.arribaDerecha{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}