

main {
    padding-top: 1%;
    height: 110vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
header div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #292f31;
    box-shadow: 6px 6px 1px 0px rgba(66, 68, 90, 1);

    background-color: #f5f5f5;
    border-radius: 50px;
    width: 500px;
    height: 40px;
}



header div p {
    color: black;
    margin: 0;
}

header div button {
    border-radius: 2px;
    height: 40px;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    border: 0;
    color: black;
    border-right: 1px solid black;
    border-left: 1px solid black;

}

header div button:hover{
    background-color: #080B0C;
    color: white;
}

.container-margin {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.iconPencil, .iconDeleteLista {
    border: 0;
    background-color: #ebecf0;
    border-radius: 4px;
    color: black;
    height: min-content;
    padding: 0 5px 0 5px;
}

.iconPencil:hover {
    border-radius: 4px;
    background-color: #a5adb457;
}

.iconDeleteLista:hover{
    border-radius: 4px;
    background-color: #f34a4a52;
}

.container-dragDrop {
    width: 250px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: #ebecf0;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


form input:not(.inputLista) {
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 10px;
}

.container-addList {
    width: 250px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
}


h4 {
    color: black;
}

.example-list {
    padding: 5px;
    text-align: center;
    border-bottom: solid 3px #ccc;
    background: white;
    border-radius: 6px;
    display: block;
}

.inputLista {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 18px;
    width: 150px;
}
.btn-lista, .btn-lista-cancelar{
    border: 1px solid black;

}
.btn-lista:hover{
    background-color: rgba(102, 236, 98, 0.384);
}
.btn-lista-cancelar:hover{
    background-color: rgba(255, 0, 0, 0.349);
}


.example-box {
    padding: 10px 15px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}

.infoTarjeta {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.addTarjeta {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    font-size: 14px;
    margin-top: 4px;
}

.addTarjeta input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 6px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;

}

.addTarjeta input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.addTarjeta input:active {
    transform: scale(0.95);
}

.addTarjeta input:focus {
    border: 2px solid grey;
}

.newList {
    text-align: center;
    border: solid 1px #ccc;
    background: #363f47ad;
    border-radius: 6px;
    display: block;
}

.newList .listText {
    color: white;
    cursor: pointer;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
    border: 0;
}

.infoTarjeta:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.prioridadDiv {
    border-radius: 5px;
    padding: 0 4px 0 4px;
}

.prioridadUrgente {
    background-color: #FF5733;
}

.prioridadAlta {
    background-color: #FFD700;
}

.prioridadNormal {
    background-color: #00FF00;
}

.prioridadBaja {
    background-color: #A9A9A9;
}

.prioridadNinguna {
    background-color: #FFFFFF;
}

.iconDelete {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 70%;
    background-color: red;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    gap: 2px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}

.bin-top {
    transform-origin: bottom right;
}

.button:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}

.bgEstaHecho{
    background-color: #11d611;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}