* {
    font-family: "Kanit", sans-serif;
}

h4, label, p{
    color: white;

}

.divOrganiza img{
    width: 50px;
}
.btn{
    background-color: #457AE5;
}
.card {
    background-color: #2b3d4f;
    border: 0;
    box-shadow: 0 0 15px -3px black;

}