* {
    font-family: "Kanit", sans-serif;
}

.card{
    width: 35%;
}

h4, label, p{
    color: white;

}

.divOrganiza img{
    width: 50px;
}
.btn{
    background-color: #246bf800;
    color: white;
}
.card {
    background-color: #1d272b;
    border: 0;
    box-shadow: 0 0 15px -3px black;

}