@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Kanit", sans-serif;
}

main{
  padding-top: 130px;
  height: 110vh;
  max-height: auto;
  background-color: var(--color-bg);
}

@media (max-width: 945px) {
  main{
    padding-top: 130px;
  }
}

@media (max-width: 767px) {

  .infoEspacio{
    display: none;
  }
}


@media (max-width: 667px) {
  main{
    height: 120vh;

  }
}


#v-pills-tab button.active{

  background-color: #738bff;
  color: white;
}

#v-pills-tab button{
  color: var(--color-text);
}

.accordion-body a, .accordion-button{
  background-color: #E0E0E0;
  color: #4A4A4A;

}
.accordion-item{
  background-color: #E0E0E0;
  border: 1px solid #4A4A4A;

  color: #4A4A4A;
}

.noInserta:not(.colorCard){
  border: 2px solid #fcffea;
  background-color: #4A90E2;
  font-size: 16px;
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.226);
  transition: all 0.3s;
}

.noInserta:hover:not(.colorCard){
  background-color: #357ABD ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #FFFFFF ;
  cursor: pointer;

}
.colorCard{
  border: 2px solid #fcffea;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.226);
  transition: all 0.3s;


}
.colorCard:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.containerEspaciosTrabajo{
  border: 1px solid  var(--color-text);
  background-color: var(--color-bg-workSpace);
  padding: 45px;
  border-radius: 15px;
  margin-top: 80px;
}

.containerEspaciosTrabajo:hover{
  border: 1px solid #4A90E2;

}

.workSpaceCard{
  height: 50px;
  border-bottom: 2px solid #E0E0E0 ;
  transition: all 0.3s;
  font-size: 16px;
  color: var(--color-text);
}

.workSpaceCard:hover{
  cursor: pointer;
  background-color: hsl(203, 37%, 28%, 20%);
  color: var(--color-text);
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btnDelete{
  color: #FF6B6B;
  border-left: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
  height: 50px;
  border-radius: 0px;
}

.btnDelete:hover{
  color: #FF4D4D ;
  background-color: hsl(203, 37%, 28%, 20%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.scroll{
  height: 350px;
  max-height: 350px;
}

.scroll::-webkit-scrollbar{
  margin-left:5px ;
  width: 8px;

}
.scroll::-webkit-scrollbar-track{
  background:transparent;

}
.scroll::-webkit-scrollbar-thumb {
  background-color: #232d30fd;
  border-radius: 20px;
  border: 1px solid white;
}

.tab-pane h3{
  color: var(--color-text);
  font-weight: 400;
  font-size: 22px;
}

h3{
  color: var(--color-text);
  font-weight: 400;
  font-size: 22px;
}

textarea{
  border: 1px solid  var(--color-text);
  border-radius: 4px;
  background-color: var(--color-bg-workSpace);
  color: var(--color-text) ;
  resize: none;
  text-align: center;
  width: 100%;
}

textarea:focus{
  border: 1px solid #4A90E2;
  outline: none;
}

textarea::placeholder{
  color: var(--color-text);
  text-align: center;
}

@media (max-width: 470px) {
  textarea{
    width: auto;
  }
}

li a{
  text-decoration: none;

}

li a:hover{
  cursor: pointer;
  text-decoration: underline;

}

.imagenDeco img{
  width: 30%;
  height: 45%;
  position: fixed;
  left: 0;
  padding: 5px;
  bottom: 10px;
}