* {
  font-family: "Kanit", sans-serif;

}

.btn-group{
  z-index: 10000;
}

a img{
  width: 40px;
}

.navbar {
  background-color: #334155;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 64px;
  padding: 0.5rem;
  box-shadow: none;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.navbar:hover {
  box-shadow: #1111117c 0px 0.5rem 1rem 0px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close {
  box-shadow: none;
  outline: none;

}

.nav-link {
  color: #E5E9EB;
  font-weight: 400;
  border-radius: 2px;
  height: 44px;
  margin-top: 4px;
  transition: opacity 0.3s ease;


}

.nav-link:hover,
.nav-link.active {
  color: #e5e9eb98;
}



@media (max-width: 991px) {
  .container{
    position: relative;
    bottom: 8px;
  }
}



.switch{
  background-color: #1e293b;
  cursor: pointer;
  border-radius: .75rem;
  outline: none;
  border: 0;
  color: #E5E9EB;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 0 10px 0px #1e293b;
  transition: all 0.2s ease;
}

.switch:hover{
  box-shadow: 0 0 10px 1px #000000;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch fa-icon{
  padding-left: 5px;
  font-size: 15px;
  color: #E5E9EB;

}


fa-icon{
  color: white;
  font-size: 33px;
}


.offcanvas{
  background-color: #2b3d4f;
}

.avatarIcon{
  margin-top: 0;
}

ngx-avatars:hover{
  cursor: pointer;
}

.dropdown-toggle::after{
  display: none;
}