* {
  font-family: "Kanit", sans-serif;

}

.btn-group{
  z-index: 10000;
}

a img{
  width: 40px;
}

.navbar {
  background-color: #334155;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 64px;
  padding: 0.5rem;
  box-shadow: none;
  transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.navbar:hover {
  box-shadow: #1111117c 0px 0.5rem 1rem 0px;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close {
  box-shadow: none;
  outline: none;

}

.nav-link {
  color: #E5E9EB;
  font-weight: 400;
  border-radius: 2px;
  height: 44px;
  margin-top: 4px;
  transition: opacity 0.3s ease;


}

.nav-link:hover,
.nav-link.active {
  color: #e5e9eb98;
}



@media (max-width: 991px) {
  .container{
    position: relative;
    bottom: 8px;
  }
}



.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}






fa-icon{
  color: white;
  font-size: 33px;
}



.offcanvas{
  background-color: #2b3d4f;
}

.avatarIcon{
  margin-top: 5px;
}

ngx-avatars:hover{
  cursor: pointer;
}

.dropdown-toggle::after{
  display: none;
}