* {
    font-family: "Kanit", sans-serif;
    color: #E5E9EB;
}

main {
    padding-top: 150px;
    height: 115vh;
    max-height: auto;
    background-color: var(--color-bg);
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    color: var(--color-text);

}


.sectionInformacionTableros {
    margin-left: 20%;
    margin-right: 20%;
}

label {
    font-size: 14px;
}

.sectionInformacionTableros input,
select {
    border: 1px solid;
    border-radius: 2px;
    background-color: #212d3a;
    width: 240px;
}

.inputLista {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    font-size: 18px;
    width: 160px;
    color:  var(--color-text);

}

.text-start {
    color: var(--color-text);

}

h5 {
    color: var(--color-text);
}

.inputLista:focus {
    border: 0;
    border-bottom: 1px solid white;
}

.iconPencil {
    border: 0;
    border-radius: 4px;
    color: black;
    height: min-content;
    padding: 0 5px 0 5px;
    background-color: var(--color-bg);
}

.iconPencil fa-icon{
    color: var(--color-text);
}

input:focus {
    outline: none;
    border: 2px solid;

}

.infoEspacio p {
    margin-bottom: 0;
    color: #697683;
}

.infoEspacio .col-6 {
    width: 100px;
}

.infoEspacio .col-12 {
    width: 200px;
}

.btn {
    background-color: #7effac;
    color: black;
    font-size: 0.95rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;

}
.btn:hover{
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.btn-ordenar {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;

}

.btn-ordenar:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.btn-ordenar:focus,
.btn-ordenar:active {
    opacity: 0.85;
    box-shadow: none;
}

#search {
    width: 100%;
    max-width: 250px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    background-color: #ffffff;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.11);
}

#search:focus {
    border: 2px solid grey;
    color: black;

}
#search:active {
    transform: scale(0.95);

}

#search:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.insertaTablero {
    height: 120px;
    background-color: #212d3a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.774);

}



.noInserta {
    height: 120px;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.774);

}

.noInserta:hover {
    opacity: 0.9;
}


fa-icon {
    transition: all 0.2s ease-in-out;

}

fa-icon:hover {
    transform: scale(1.1);
}

.noInserta p {
    color: black;

}

.card:hover {
    cursor: pointer;
}


@media (max-width: 667px) {


    .infoEspacio {
        width: auto;
    }

    .invitaMiembros {
        width: auto;
    }
}

@media (max-width: 450px) {


    #search {
        width: 50px;
    }
}

@media (max-width: 575px) {
    .rowInfoEspacio {
        margin: 0;
    }

    .infoEspacio {
        width: auto;
    }

    .invitaMiembros {
        width: auto;
    }

    .btn {
        padding-right: 0;
    }

    .btn-ordenar {
        width: 300px;
    }

    #search {
        width: 300px;
    }
}