* {
    font-family: "Kanit", sans-serif;
    color: var(--color-text) !important;
}
main{
    padding-top: 55px;
    background-color: var(--color-bg);
    height: 110vh;
}

b{
    padding-left: 5px;
}
i{
    padding-left: 5px;
}
a{
    text-decoration: none;
}
.fc{
    max-width: 1100px;
    margin: 40px auto;
}

