* {
    font-family: "Kanit", sans-serif;

}

main {
    background-image: linear-gradient(45deg, rgb(67, 147, 163) 0%, rgb(67, 147, 163) 59%, rgb(93, 161, 169) 59%, rgb(93, 161, 169) 65%, rgb(119, 175, 175) 65%, rgb(119, 175, 175) 70%, rgb(145, 190, 181) 70%, rgb(145, 190, 181) 73%, rgb(171, 204, 187) 73%, rgb(171, 204, 187) 78%, rgb(197, 218, 193) 78%, rgb(197, 218, 193) 100%);
}

a img {
    width: 40px;
}

.login-button {
    background-color: #2B6327;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #009970;
}

.navbar {
    background-color: rgb(255, 255, 255);
    height: 80px;
    padding: 0.5rem;
    box-shadow: none;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
}

.navbar:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close {
    box-shadow: none;
    outline: none;

}

.nav-link {
    color: #666777;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
}

@media (min-width: 991px) {
    .menuLinks .nav-link::after {
        content: "";
        width: 0;
        height: 3px;
        background-color: #009970;
        border-radius: 50px;
        margin: auto;
        display: block;
    }

    .menuLinks .nav-link:hover::after,
    .menuLinks .nav-link:active::before {
        width: 100%;
        transition: width 0.2s linear;
    }
}


.inicioPagina {
    height: 120vh;
    padding-top: 160px;

}

.contenidoInicio {
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(255, 145, 0);

}


h1 {
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    color: #242422;
    z-index: 100;

}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}

p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    color: #242422;
    z-index: 100;

}

.divButton {
    z-index: 100;

}

.btnComenzar {
    background-color: #0D0E10;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    padding: 11px 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btnComenzar:hover {
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
}

.imagenInicial {
    z-index: 100;

}

.imagenInicial img {
    margin-top: 100px;
    padding: 0 20px 20px 20px;
    width: 100vh;
}

.caracteristicasOrganiza {
    border-top: 4px solid rgb(255, 145, 0);
    border-bottom: 4px solid rgb(255, 145, 0);

    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.caracteristicasOrganiza p {
    font-size: 22px;
    width: 50%;

}

@media (max-width: 668px) {
    .imagenInicial img {
        margin-top: 30px;
        padding: 0 20px 20px 20px;
        width: 100vh;
    }

    .caracteristicasOrganiza {
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .caracteristicasOrganiza p {
        font-size: 12px;
        width: 100%;

    }
}

.informacionSection{
    height: auto;
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

    min-height: 110vh;
}

.franjaSeparacion{
    margin-top: 70px;
    width: 100%;
    height: 8px;
    background-color: rgb(255, 145, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 

.footerSeparacion{
    margin-top: 0;

}

.containerTitulo{
    display: flex;
    justify-content: center;
    padding-top: 35px;

}
.informacionSection h3{
    font-family:monospace;
    font-weight: bold;
    font-size: 38px;
    padding: 35px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(255, 145, 0);

}


.containerInformacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
}

.informacionSection article{
    z-index: 1;

    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: auto;
    margin-top: 70px;
    border: 1px solid black;
    display: block;
    view-timeline-name: --article;
    view-timeline-axis: block;
    animation-timeline: --article;
    animation-range: entry 1% cover 60%;
    animation-fill-mode: both;

}

.containerInformacion article div:first-child{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 45px;
    border-bottom: 1px solid black;

}

.containerInformacion article:nth-child(1) div:first-child{
    background-color: #F99CDB;
}
.containerInformacion article:nth-child(2) div:first-child{
    background-color: #00C7E5;
}
.containerInformacion article:nth-child(3) div:first-child{
    background-color: #eeb600;
}
.containerInformacion article:nth-child(4) div:first-child{
    background-color: #3de49e;
}

.containerInformacion fa-icon{
    background-color: rgb(241, 241, 241);
    padding: 5px 15px 0 15px;
    font-size: 30px;
    position: relative;
    left: 30px;
    top: 20px;
    border-radius: 0.3em;
    border: 1px solid black;
}

.containerInformacion article:nth-child(1) div:first-child fa-icon{
    color: #F99CDB;
}
.containerInformacion article:nth-child(2) div:first-child fa-icon{
    color: #00C7E5;
}
.containerInformacion article:nth-child(3) div:first-child fa-icon{
    color: #eeb600;
}
.containerInformacion article:nth-child(4) div:first-child fa-icon{
    color: #3de49e;
}

.containerInformacion article div:nth-child(2){
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.containerInformacion article:nth-child(1){
    animation-name: izqDer;
    grid-area: 1 / 1 / 2 / 3;

}
.containerInformacion article:nth-child(2){
    animation-name: derIzq;
    grid-area: 2 / 2 / 3 / 4;
}
.containerInformacion article:nth-child(3){
    animation-name: izqDer;
    grid-area: 3 / 1 / 4 / 3;
}
.containerInformacion article:nth-child(4){
    animation-name: derIzq;
    grid-area: 4 / 2 / 5 / 4;
}

@keyframes izqDer {
    0%{
        transform: translateX(-50px);
        opacity: 0;

    }


    100%{
        transform: translateX(0);
        opacity: 1;

    }
}
@keyframes derIzq {
    0%{
        transform: translateX(50px);
        opacity: 0;

    }

    100%{
        transform: translateX(0);
        opacity: 1;

    }
}



.sectionFlujo {
    background-image: url(https://uploads-ssl.webflow.com/6408bea3de5aef58b7e197d4/6438c3059d443cd7a78762eb_stars-bg.png);
    background-size: 1090px;
    background-position: 50%;

    padding: 5% 0 0 0;
    background-color: #080B0C;
}

.sectionFlujo h3{
    color: black;
    text-align: center;
    font-size: 38px;
    font-family:monospace;
    font-weight: bold;
    margin-bottom: 5%;
    padding: 35px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 2px solid rgb(255, 145, 0);

}

.gestionProyectos,
.administracionTareas,
.lluviaIdeas,
.centroRecursos,
.reuniones,
.fotoRelleno,
.induccion {
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;

}

.gestionProyectos {
    background-image: url("../../assets/chairs-2181994_640.jpg");
    
}

.administracionTareas {
    background-image: url("../../assets/todo-lists-5238324_640.jpg");
}

.lluviaIdeas {
    background-image: url("../../assets/meeting-594091_640.jpg");

}

.centroRecursos {
    background-image: url("../../assets/man-593333_1280.jpg");
}

.reuniones {
    background-image: url("../../assets/job-5382501_640.jpg");

}

.fotoRelleno {
    background-image: url("../../assets/people-collaborating-online.png");

}

.induccion {
    background-image: url("../../assets/plans-1867745_640.jpg");

}

.containerSectionFlujo {
    margin-bottom: 14px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.575);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid black;
}

.containerFlujo {
    padding-left: 16%;
    padding-right: 12%;
}

.gestionProyectos,
.administracionTareas,
.lluviaIdeas,
.centroRecursos,
.reuniones,
.induccion {
    view-timeline-name: --card;
    view-timeline-axis: --block;
    animation-timeline: --card;
    animation-range: entry 25% cover 35%;
    animation-fill-mode: both;
    animation-name: show;
    background-color: #E5E9EB;
    color: #080B0C;
    border-radius: 15px;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* Inicio precios */

.containerTituloPrecios{
    padding: 35px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.74);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
    border: 2px solid rgb(255, 145, 0);

}


.gradient-text {
    background-image: linear-gradient(90.65deg,
            #605DFF 41.17%,
            #AD63F6 92.13%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.precios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E5E9EB;
    padding-top: 10rem;
    min-height: 110vh;
    height: 100%;
}

.precios-section>h2 {
    color: #303651;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

.precios-section>p {
    max-width: 32rem;
    width: 100%;
    text-align: center;
}

.precios-section>p>strong {
    color: #AD63F6;
}

.pricing-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 100%;
    max-width: 23rem;
    min-height: 35rem;
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    cursor: pointer;
    border: 1px solid #5DA8FF;
    background: #F7FAFF;
}

.pricing-card--primary {
    background: white;
}

.pricing-card__price {
    background: #E5F1FF;
    width: 100%;
    min-height: 3.5rem;
    padding: 0.4rem 1rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    border-radius: 0.5rem;
    font-weight: 700;
    flex-wrap: wrap;
}

.pricing-card__price>s {
    color: #697089;
    font-size: 0.875rem;
}

.pricing-card>h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
}

.pricing-card>.divider {
    border: 1px solid #E6E8F0;
}

.pricing-card>.enroll {
    display: block;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    border-radius: 0.5rem;
    background: #605DFF1A;
    color: #605DFF;
    text-decoration: none;
    letter-spacing: 0.75px;
    border: 0px solid #605DFF;
}

.pricing-card>.enroll:hover {
    border: 1px solid #605DFF;
    transition: border-width 0.2s linear;
}

.pricing-card--primary>.enroll {
    background: linear-gradient(90deg, #605DFF, #AD63F6 50%,
            #AD63F6 50%, #605DFF 80%, #5DA8FF 100%);
    background-size: 200% 200%;
    background-position: 0% 0%;
    transition: background-position 1s;
    color: white;
}

.pricing-card--primary>.enroll:hover,
.enroll:focus {
    border: none;
    background-position: 100% 100%;
    transition: background-position 1s;
}

.pricing-card>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pricing-card>ul>li {
    position: relative;
    font-weight: 500;
    list-style-type: none;
    font-size: 0.875rem;
}

.pricing-card>ul>li:before {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: -2rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('../../assets/benefit.svg');
    background-repeat: no-repeat;
}

.pricing-card>.plan-icon {
    position: absolute;
    left: -1.25rem;
    top: -1.875rem;
}


/* Fin precios */


/* Contact */
#contact {
    background-color: rgb(108, 211, 180);
    height: 110vh;

}

.form-area {
    padding-top: 10%;
}

.row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left {
    background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
    padding: 200px 98px;
}

.left h2 {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span {
    font-weight: 100;
}

.single-form {
    background: #fff;
}

.right {
    padding: 70px 100px;
    position: relative;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

.form-control {
    border: 2px solid #000;
}

.right button {
    border: none;
    border-radius: 4px;
    background: linear-gradient(135deg, rgba(163, 168, 240, 1) 0%, rgba(105, 111, 221, 1) 100%);
    width: 100%;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.right button:hover {
    background-color: #252525;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px) {
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }
}

@media (max-width:767px) {
    .left {
        padding: 90px 15px;
        text-align: center;
    }

    .left h2 {
        font-size: 25px;
    }

    .right {
        padding: 25px;
    }

    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
    }

    .right button {
        width: 150px;
        padding: 12px 0;
    }

}



footer {
    height: 150px;
    background-color: #E5E9EB;
}

footer>div {
    width: 80%;
    height: 35%;
    border-radius: 10px;
    background-color: #334155;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.432);
    border: 2px solid #fcffea;


}

footer img {
    width: 40px;
    height: 40px;
}

footer fa-icon:hover {
    cursor: pointer;
}

.iconsFooter a {
    color: black;
}

.textoArticle {
    width: 140px;
}