* {
    font-family: "Kanit", sans-serif;
}
.formSearch input{
    width: 100%;
}

.modal-header{
    background-color: #2b3d4f;
    color: white;
}
.modal-body{
    background-color: #2b3d4f;

}
.btn-close{
    background-color: white;
}
.card{
    background-color: #1e3750;
    color: white;
}
.btn{
    background-color: #7EFFAC;
}