* {
    font-family: "Kanit", sans-serif;
}


main {
    background-color:hsla(36,0%,100%,1);
    background-image:
    radial-gradient(at 82% 22%, hsla(359,89%,85%,0.3) 0px, transparent 50%),
    radial-gradient(at 21% 78%, hsla(122,82%,76%,0.3) 0px, transparent 50%),
    radial-gradient(at 82% 79%, hsla(195,74%,77%,0.3) 0px, transparent 50%),
    radial-gradient(at 22% 22%, hsla(266,100%,86%,0.3) 0px, transparent 50%);
    height: 100vh;
}

#myTab{
    border: 0;
}

.nav-link{
    color: white;
}
li button.active{
    background-color: #1c2229;
    color: white;
}

li button{
    border: 1px solid black;
    color: black;
}

li button:hover:not(li button.active){
    background-color: #1c22295d;
    color: white;
}