* {
    font-family: "Kanit", sans-serif;
}


main {
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 79% 76%, hsla(233,100%,50%,0.26) 0px, transparent 50%),
    radial-gradient(at 27% 23%, hsla(310,91%,68%,0.29) 0px, transparent 50%),
    radial-gradient(at 80% 24%, hsla(359,100%,50%,0.26) 0px, transparent 50%),
    radial-gradient(at 24% 71%, hsla(122,100%,50%,0.26) 0px, transparent 50%);
    height: 100vh;
}

#myTab{
    border: 0;
}

.nav-link{
    color: white;
}
li button.active{
    background-color: #1c2229;
    color: white;
}

li button{
    border: 1px solid black;
    color: black;
}

li button:hover:not(li button.active){
    background-color: #1c22295d;
    color: white;
}