main {
    padding-top: 140px;
    height: 110vh;
    background-color: var(--color-bg);
}


.margin-container {
    margin-left: 30%;
    margin-right: 30%;
}

.bgSection {
    background-color: #53616e;
    border-radius: 20px;
}


input[type="file"] {
    display: none;
}

.btn-avatar {
    color: white;
    font-weight: 400;
    background-color: #457AE5;
    border: 0;
    border-radius: 6px;
    padding: 8px 30px 8px 30px;
    display: inline-block;
    cursor: pointer;
}

li button{
    border: 1px solid var(--color-text);
    color: var(--color-text);
}
li button:hover:not(li button.active){
    background-color: #797c7ea8;
    color: white;
}

form textarea {
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    height: 100px;
    resize: none;
    color: var(--color-text);

}

form input {
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    color: var(--color-text);

}

form input:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

.btn-submit {
    background-color: #224faf;
    border: 0;
    border-radius: 6px;
    color: white;
    padding: 8px 50px 8px 50px;
    font-size: 18px;
    font-weight: 500;

}

.btn-submit:disabled{
    background-color: #224fafa6;

}

@media (max-width: 1365px) {
    .margin-container {
        margin-left: 20%;
        margin-right: 20%;

    }
}

@media (max-width: 905px) {
    .margin-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 645px) {
    .margin-container {
        margin-left: 10px;
        margin-right: 10px;

    }

}

label{
    color: var(--color-text);
}




.arribaDerecha{
    margin-top: 80px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.borrarCuenta{
    color: red;
    font-weight: 200;
    text-decoration: none;
}

.borrarCuenta:hover{
    text-decoration: underline;
}