/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal {
    height: 100vh;
}

.calendar .fc-scrollgrid-sync-inner a{
    color: var(--color-text);
    text-decoration: none;
}

.fc .fc-list-event:hover td{
    background-color: #6a7a8085 !important;
}

.fc-list-day-cushion a{
    color: #080B0C;
    text-decoration: none;
}
.fc-col-header-cell{
    background-color: orange;
}
.fc-col-header-cell-cushion{
    font-size: 20px;
}
.modal-content{
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}

:root{
    --color-bg-workSpace: white;
    --color-bg: #F0F4F8;
    --color-text: #4A4A4A;
}

[data-theme="dark"]{
    --color-bg: #334155;
    --color-bg-workSpace: #1E293B;
    --color-text: #E5E9EB;
}