/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.calendar .fc-scrollgrid-sync-inner a{
    color: white;
    text-decoration: none;
}

.fc .fc-list-event:hover td{
    background-color: #6a7a8085 !important;
}

.fc-list-day-cushion a{
    color: #080B0C;
    text-decoration: none;
}
.modal-content{
    background-color: rgba(240, 248, 255, 0);
    border: 0;
}