* {
    font-family: "Kanit", sans-serif;
}

.modal-body, .modal-header, .modal-footer{
    background-color: #E5E9EB;
}

.modal-body input{
    background-color: #E5E9EB;
    border: 1px solid #080B0C;
}